@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,500;1,200&display=swap');

*, *::before, *::after {
  /* all divs' paddings/margins don't extend beyond the parent div */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* making text more attractive  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100%;
}


/* top menu */

menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0;
  z-index: 1001;
}

.flex-wrapper-menu {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.menu-logo {
  width: 34px;
  height: 24px;
  background-image: url('images/logo_icon.svg');
}

.left-menu {
  width: calc(50% - 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-menu {
  width: calc(50% - 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul#mobile-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

input#menu-toggle {
  display: none;
}

.menu-toggle-label {
  display: none;
}

.menu-links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.025em;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.menu-links li + li {
  margin-left: 1.5vw;
}

.menu-links a:hover {
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.language-button {
  padding: 7px 6px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.language-button:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #F2F2F0;
  border: none;
}

.current {
  background-color: #E3E3E1;
  border: none;
}

.current a {
  color: rgba(0, 0, 0, 1);
}

/* home page */

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95vw;
  margin: 120px auto 0;
}

.home-text-wrapper {
  padding: 0 80px;
  margin: auto;
  text-align: center;
}

.home-text-wrapper a {
  border-bottom: 2px solid black;
}

.home-text-wrapper a:hover {
  color: #3E89CC;
  border-bottom: 2px solid #3E89CC;
}

/* grid layout */
.home-case_studies {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.35rem;
  -ms-grid-columns: 1fr 0.35rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 0;
}

/* case study card */
.card_overlay.description h4 {
  margin: 0;
  padding-top: 0;
}

.card_overlay.description p {
  margin-top: 6px;
  font-size: 13px;
  letter-spacing: 0.02em;
}

.card_overlay.tag h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.card_overlay.tag h6 + h6 {
  margin-left: 10px;
}

a.project_card {
  position: relative;
}

.card_img {
  width: 100%;
  display: block;
  /* aspect-ratio: 1 / 1.3; */
  -o-object-fit: cover;
     object-fit: cover;
}

.card_overlay {
  position: absolute;
  padding: 20px;
}

.card_overlay.description {
  /* stretching the container to fill the whole width&height of the parent element */
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* centering content inside the container */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* overlay initial state */
  background: rgba(255, 255, 255, 0.95);
  color: inherit;
  opacity: 0;
}

.card_overlay.description:hover {
  opacity: 1;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.card_overlay.tag {
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card_overlay.tag > * {
  border: 0.75px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 0 8px;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1920px) {
  .home-case_studies {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  footer.home_page {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .home-text-wrapper {
    padding: 0 30px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .wrapper {
    margin: 90px auto 0;
    width: 100vw;
  }

  .home-text-wrapper {
    padding: 0 15px;
  }

  .home-case_studies {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 0;
  }
}


/* case study sidebar */

nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  margin: 2.5vw;
  width: 330px;
  opacity: 0.3;
  z-index: 999;
}

nav:hover {
  opacity: 1;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

nav a {
  text-decoration: none;
}

nav li {
  font-size: 16px;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 0.01em;
  padding-top: 15px;
  color: rgba(0, 0, 0, 1)
}

nav > ul > li {
  font-weight: 500;
}
nav ul ul li {
  margin-left: 8px;
}

@media (max-width: 1340px) {
  nav {
    display: none;
  }
}


/* case study unique styles */

/* Yandex Uchebnik */
.yandex {
  background: #F4F8FE;
}

/* sylvan website */
.sylvan {
  background: rgb(224,227,238);
  background: -webkit-linear-gradient(317deg, rgba(224,227,238,1) 0%, rgba(229,232,241,1) 45%, rgba(216,220,229,1) 100%);
  background: -o-linear-gradient(317deg, rgba(224,227,238,1) 0%, rgba(229,232,241,1) 45%, rgba(216,220,229,1) 100%);
  background: linear-gradient(47deg, rgba(224,227,238,1) 0%, rgba(229,232,241,1) 45%, rgba(216,220,229,1) 100%);
}

.package-wrapper {
  width: 1020px;
  padding: 56px 0 0;
  margin: 0 auto;
}

.package-2r {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0;
}

.package-1r {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 0;
}

.package-2r li,
.package-1r li {
  max-width: 340px;
  max-height: 340px;
}

.package-2r img,
.package-1r img {
  width: 100%;
  height: auto;
  padding: 0;
}

.cider1-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.cider1-2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.cider2-1 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.cider2-2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.cider3-1 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.cider3-2 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.ocider1-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.ocider2-1 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.ocider3-1 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

iframe.embed_2-1 {
  aspect-ratio: 2.02/1;
}

.web_description {
  background-color: #FCFCFA;
}

.web_description img {
  padding: 56px 0;
}

.web_description img + .text-wrapper-700px p {
  padding-top: 0;
}

.web_description-blue {
  background-color: #2C3844;
  color: white;
}



@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .package-wrapper {
    width: calc(100% - 70px);
  }
}

@media (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .package-wrapper {
    width: calc(100% - 30px);
    padding: 35px 0 0;
  }

  .package-2r {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0;
  }

  .package-1r {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
  }

  .cider1-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .cider1-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .cider2-1 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .cider2-2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .cider3-1 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }

  .cider3-2 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }

  .ocider1-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .ocider2-1 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .ocider3-1 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .web_description img {
    padding: 35px 0;
  }

}

/* kind app */

/* hero */
.kind {
  background: #EFF3F9;
}

/* research */
img#img-700px + p {
  padding-top: 56px;
}
/* problem */
.problem-takeaways {
  width: 700px;
  margin: 0 auto;
  padding-top: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.takeaway-wrapper {
  display: flex;
  align-items: center;
}

.takeaway-wrapper img {
  width: 70px;
  margin-right: 25px;
  padding-top: 0;
}

.takeaway-wrapper p {
  /* font-size: 16px; */
  padding-top: 0;
  line-height: 152%;
}

@media (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .problem-takeaways {
    width: calc(100% - 30px);
  }

  .takeaway-wrapper {
    flex-direction: column;
    justify-content: center;
 }

  .takeaway-wrapper img {
    width: 100px;
    margin: 0 auto 20px;
  }
}



/* book nook app */
.book-nook {
  background: #0D0D0D;
}


/* case study desktop */

article section.content-wrapper {
  padding: 81px 0 0;
  margin: auto;
}

article {
  padding: 61px 0 0;
}

.hero-title {
  text-align: center;
  padding: 92px 0 33px;
}

.hero-title p {
  padding-top: 12px;
}

.hero-image-wrapper-app,
 .hero-image-wrapper-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 128px 0;
  overflow: hidden;
}

.hero-image-wrapper-app img,
.hero-image-wrapper-app picture,
.hero-image-wrapper-web img,
.hero-image-wrapper-web picture {
  width: 1778px;
  padding-top: 0;
}

.overview-details {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.overview-col h5 {
  margin: 36px 0 15px;
}

.overview-col.tag h5 {
  margin: 36px 0 7px;
}

.overview-col ul li{
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 160%;
  margin-top: 6px;
}

.overview-col.tag {
  position: relative;
}

.overview-col.tag li{
  display: -ms-inline-grid;
  display: inline-grid;
  background-color: #F2F2F0;
  border-radius: 20px;
  padding: 0 10px;
  margin-right: 5px;
  text-transform: lowercase;
}

article section.video-wrapper {
  margin: auto;
}

#center__video-wrapper {
  display: flex;
  justify-content: center;
}

.center__video {
  width: 1020px;
}

#opaque-background-1 {
  background-color: #F6F7F1;
  padding-bottom: 81px;
}

#opaque-background-2 {
  background-color: #FCFCFA;
  padding-bottom: 81px;
}

.desktop{
  display: block;
}

.mobile{
  display: none;
}

.text-wrapper-700px {
  width: 700px;
  margin: auto;
}

.text-wrapper-500px {
  width: 500px;
}

.spacer-L_desktop {
  display: block;
  height: 81px;
}

.spacer-L_mobile {
  height: 51px;
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.text-wrapper-700px a {
  border-bottom: 1px solid black;
}

.text-wrapper-700px a:hover {
  color: #3E89CC;
  border-bottom: 1px solid #3E89CC;
}


h1, h3, h5 {
  font-weight: 400;
}

h1 {
  font-size: 41px;
  line-height: 125%;
  letter-spacing: 0.005em;
}

h2 {
  font-weight: 500;
  font-size: 31px;
  line-height: 130%;
}

h3 {
  font-size: 27px;
  line-height: 130%;
}

article p + h3 {
  padding-top: 48px;
}

article ol + h3 {
  padding-top: 42px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 152%;
  padding-top: 31px;
  letter-spacing: 0.02em;
}

h5 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 100%;
}

 p, ol li, blockquote {
  font-size: 20px;
  font-weight: 200;
}

article p {
  line-height: 148%;
  padding-top: 31px;
}

.footnote {
  font-size: 16px;
  line-height: 100%;
  padding-top: 15px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

article h2 + p,
article h3 + p,
article blockquote + p
{
  padding-top: 18px;
}

article ol li{
  list-style: decimal inside;
  line-height: 148%;
  padding-top: 20px;
}

article ol li:first-child {
  padding-top: 19px;
}

article ol + p {
  padding-top: 20px;
}

article blockquote {
  position: relative;
  font-style: italic;
  line-height: 152%;
  padding-top: 19px;
}

article blockquote::before {
  content: "";
  display: block;
  position: absolute;
  width: 1.5px;
  height: 90%;
  margin-left: -12px;
  background: black;
}

 .no-paddings img {
  padding: 0;
  width: 1020px;
}

article em {
  font-style: italic;
}

article img {
  width: 1020px;
  padding-top: 56px;
  display: block;
  margin: auto;
}

img#img-700px,
 #img-700px img {
  width: 700px;
}

article .opaque-background img {
  width: 700px;
  padding: 45px 0 81px;
}

img.icon {
  width:24px;
  margin:0;
  padding:0 0 0 11px
}

#absolute-1,
#absolute-2  {
  position: relative;
  width: 100%;
  max-width: 1680px;
  height: 629px;
}

#absolute-1 .text-wrapper-500px {
  position: absolute;
  top: 142px;
  left: 827px;
}

.main-preview__video {
  width: 277px;
  height: 548px;
}

#onboarding-video {
  position: absolute;
  top: 81px;
  left: 463px;
}

#absolute-2 .text-wrapper-500px {
  position: absolute;
  top: 142px;
  left: 330px;
}

#book-details-video {
  position: absolute;
  top: 81px;
  left: 920px;
}

.video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

iframe {
  width: 1020px;
  aspect-ratio: 16/9;
}

.bottom-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-wrapper-700px {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 68px 0;
}

.flex-wrapper-1020px {
  width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

article .other-projects {
  padding: 8px 11px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.4);
}

article .other-projects:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F0;
  border: none;
}

article a.other-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.other-projects p {
  padding-top: 0;
  font-size: 16px;
  line-height: 100%;
}


/* footer */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 45px;
  font-size: 16px;
  line-height: 121%;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.4);
}

.flex-wrapper-footer {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.copyright {
  font-weight: 400;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact li {
  padding-left: 1.5vw;
}

.contact a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.fa {
  font-size: 16px;
  width: 16px;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 1920px) {

  footer.case_studies {
    position: static;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  #absolute-1 .text-wrapper-500px {
    left: 612px;
  }

  #onboarding-video {
    left: 238px;
  }

  #absolute-2 .text-wrapper-500px {
    left: 145px;
  }

  #book-details-video {
    left: 735px;
  }
}


@media (max-width: 1194px) {
  article img,
  iframe,
  picture,
  .no-paddings img,
  .center__video {
    width: calc(100% - 70px);
  }

  article {
    margin: 0 auto;
  }
}

/* case study tablet–desktop */

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
  article img,
  .no-paddings img {
    width: 700px;
  }

  iframe {
    width: 700px;
    height: 393.75px;
  }

  #absolute-1,
  #absolute-2  {
    height: 451px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  #absolute-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  #absolute-1 .text-wrapper-500px {
    width: 450px;
    position: static;
    margin-top: 61px;
    margin-left: 65px;
    top: 0;
    left: 0;
  }

  .main-preview__video {
    width: 187px;
    height: 370px;
  }

  .center__video {
    width: 700px;
  }

  #onboarding-video,
  #book-details-video {
    position: static;
    top: 0;
    left: 0;
  }

  #absolute-2 .text-wrapper-500px {
    width: 450px;
    position: static;
    margin-top: 21px;
    margin-right: 65px;
    top: 0;
    left: 0;
  }
}

/* case study mobile */

@media (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  /* menu */
  .flex-wrapper-menu,
  .flex-wrapper-footer {
    width: 100%;
  }

  .left-menu {
    visibility: hidden;
  }

  .right-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #menu-toggle {
    display: block;
    visibility: hidden;
  }

  .menu-toggle-label {
    display: block;
    padding: 0 15px;
    cursor: pointer;
  }

  .menu-toggle-label span,
  .menu-toggle-label span::before,
  .menu-toggle-label span::after {
    display: block;
    position: relative;
    background: black;
    width: 1.5em;
    height: 1.5px;
    /* border-radius: 2px; */

  }

  .menu-toggle-label span::before,
  .menu-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .menu-toggle-label span::before {
    bottom: 7px;
  }

  .menu-toggle-label span::after {
    top: 7px;
  }

  ul#mobile-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
            transform: scale(1,0);
    /* the menu slides down from the top instead of the center */
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    -o-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  }

  ul#mobile-hamburger li {
    margin-bottom: 36px;
  }

  ul#mobile-hamburger li a {
    text-align: center;
    opacity: 0;
    /* transition comes without a delay when the menu shrinks */
    -webkit-transition: opacity 150ms ease-in-out ;
    -o-transition: opacity 150ms ease-in-out ;
    transition: opacity 150ms ease-in-out ;
  }

  .menu-links li + li {
    margin-left: 0;
  }

  #menu-toggle:checked ~ ul#mobile-hamburger {
    -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
  }

  /* three elements below transform into an X button, rotating in 45 deg and moving all the hamburger lines back to (0;0) */
  #menu-toggle:checked ~ .menu-toggle-label span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-toggle-label span::before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    bottom: 0;
  }

  #menu-toggle:checked ~ .menu-toggle-label span::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }

  /* links gradually appear after the menu slides down */
  #menu-toggle:checked ~ ul#mobile-hamburger a {
    opacity: 1;
    /* transition comes with a delay when the menu is checked */
    -webkit-transition: opacity 250ms ease-in-out 250ms;
    -o-transition: opacity 250ms ease-in-out 250ms;
    transition: opacity 250ms ease-in-out 250ms;
  }

  /* article */

  article section.content-wrapper {
    padding: 51px 0 0;
    }

    #opaque-background-1 {
      padding-bottom: 51px;
    }

    #opaque-background-2 {
      padding-bottom: 51px;
    }

    .spacer-L_desktop {
      display: none;
    }

    .spacer-L_mobile {
      display: block;
    }
    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 21px;
    }

    h4 {
      font-size: 16px;
      padding-top: 29px;
    }

    h5 {
      font-size: 14px;
    }

    p, ol li, blockquote {
      font-size: 16px;
    }

    article p + h3,
    article ol + h3 {
      padding-top: 35px;
    }

    article h2 + p,
    article h3 + p,
    article blockquote + p
    {
      padding-top: 16px;
    }

    article ol li,
    article ol + p,
    article blockquote {
      padding-top: 17px;
    }

    article ol li:first-child {
      padding-top: 16px;
    }

    article blockquote::before {
      margin: 4px 0 0 -6px;
    }

    .footnote {
      font-size: 14px;
    }

    .overview-details {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    article img,
    .no-paddings img {
      width: calc(100% - 30px);
    }

    .hero-title {
      padding: 32px 0 18px;
    }

    .hero-title p {
      padding-top: 4px;
    }

    .hero-image-wrapper-app,
    .hero-image-wrapper-web {
      padding: 44px 0;
    }

    .hero-image-wrapper-app img,
    .hero-image-wrapper-app picture {
      width: 874px;
    }

    .hero-image-wrapper-web img,
    .hero-image-wrapper-web picture {
      width: 500px;
    }

    .text-wrapper-700px {
      width: calc(100% - 30px);
      }

    img#img-700px,
    #img-700px img {
      width: calc(100% - 30px);
    }

    .flex-wrapper-700px {
      width: calc(100% - 30px);
      padding: 35px 0;
    }

    article img,
    iframe {
      width: calc(100% - 30px);
      padding-top: 35px;
    }

    iframe {
      width: calc(100% - 30px);
    }

    #absolute-1,
    #absolute-2  {
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }


    #absolute-1 .text-wrapper-500px,
    #absolute-2 .text-wrapper-500px {
      width: calc(100% - 30px);
      position: static;
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 40px;
    }


    #onboarding-video,
    #book-details-video {
      position: static;
    }

    .center__video {
      width: calc(100% - 30px);
    }

    article a.other-projects {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    footer {
      font-size: 14px;
      clear: both;
    }

    .flex-wrapper-footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 15px;
    }

    .copyright {
      text-align: center;
    }

    .contact li {
      padding-left: 4vw;
      margin-top: 36px;
    }

    .fa {
      font-size: 14px;
      width: 14px;
    }
}

@media (min-device-width: 320px) and (max-device-width: 414px) and (orientation: portrait) {
  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }


@media (min-device-width: 320px) and (max-device-width: 374px) and (orientation: portrait) {
  .main-preview__video {
    width: 78px;
    height: 154px;
  }
}

@media (min-device-width: 375px) and (max-device-width: 413px) and (orientation: portrait) {
  .main-preview__video {
    width: 91px;
    height: 180px;
  }
}

@media (min-device-width: 414px) and (max-device-width: 767px) and (orientation: portrait) {
  .main-preview__video {
    width: 101px;
    height: 200px;
  }
}
